# FLASK_SECRET_KEY is for cookie session security
# uv run python3 -c 'import secrets; print(secrets.token_hex())'
#
FLASK_SECRET_KEY=''


# FLASK_CLIENT_SECRET_JWK for OAuth confidential client
# uv run ./scripts/generate_jwk.py
#
FLASK_CLIENT_SECRET_JWK=''


# The website to log in from.
# Probably: https://astrosky.eco or http://127.0.0.1:5173
# 
FLASK_ASTROSKY_WEBSITE=''