[project]
name = "astrofeed_server"  # Required
version = "0.0.1"  # Required
description = "The Flask server for the Astronomy feeds."
readme = "README.md" # Optional
requires-python = ">=3.12,<3.13"
license = {file = "LICENSE"}
keywords = ["bluesky", "astronomy"]
authors = [
  {name = "Emily L. Hunt", email = "emily.hunt.physics@gmail.com" } # Optional
]
maintainers = [
  {name = "Emily L. Hunt", email = "emily.hunt.physics@gmail.com" } # Optional
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Topic :: Software Development :: Build Tools",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3 :: Only",
]
dependencies = [
  "astrofeed_lib@git+https://github.com/bluesky-astronomy/astrofeed-lib",
  "Flask>=2.3.2,<3.0",
  "gunicorn>=20.1.0,",
]

[project.urls]
"Homepage" = "https://astronomy.blue/"
"Bug Reports" = "https://github.com/bluesky-astronomy/astrofeed-server"

[build-system]
requires = ["setuptools>=43.0.0", "wheel"]
build-backend = "setuptools.build_meta"